<div class="card">

  <div class="item item-text-wrap">
    <form >
      <div class="list">
        <label class="item item-input">
          <textarea name="ajoutcontenu" placeholder="Ajout d'un contenu text" cols="10" rows="2"></textarea>
        </label>
      </div>
      <br>

    </form>
  </div>
  <div class="item item-divider ">
    <i class=" button button-balanced button-small icon ion-image placeholder-icon" ng-click="opencamera()"></i>
    <button class="button button-balanced button-small text-right">
      <i class="icon ion-plus"></i>  Ajouter
    </button>

  </div>
</div>

