<div class="card">

  <div class="item item-text-wrap">
    <form >
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Rechercher du  contenu" required>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Catégories
          </div>
          <select>
            <option>Informatique</option>
            <option>Cuisine</option>
            <option>Musique</option>
          </select>
        </label>

      </div>

    </form>
  </div>
  <div class="item item-divider text-right">
    <button class="button button-balanced button-small">
      <i class="icon ion-search"> </i> Rechercher
    </button>

  </div>
</div>

